<header>
    <h1>Knowledge</h1>
    <section class="Input">
        <link rel="stylesheet" href="../../public/css/LoginStyle.css">
        <div class="row selection">
            <a href="/start/login">Log In</a>
            <a href="/start/signup">Sign Up </a>
        </div>
        <div class="row">
            <form action="/start/signup" method="post" class="Login-form">
                <div class="row usernameInput">
                    <div class="col span-1-of-3">
                        <label for="Username">Username</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="userNameInput" id="Username" placeholder="Your Username" required>
                    </div>
                </div>
                <div class="row passwordInput">
                    <div class="col span-1-of-3">
                        <label for="password">Password</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="password" name="passwordInput" id="password" placeholder="Your Password" required>
                    </div>
                </div>
                <div class="row confirmPasswordInput">
                    <div class="col span-1-of-3">
                        <label for="password">Confirm Password</label>
                    </div>
                    <div class="col span-2-of-3 ConfirmPasswordBox">
                        <input type="password" name="ConfirmPasswordInput" id="ConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="Signup-btn">
                    <input type="submit" value="Sign Up"></button>
                </div>
            </form>
        </div>


        {{#if error}}
        <div style="color:#ee0000;">
            <span>{{message}}</span>
        </div>
        {{/if}}
    </section>
</header>