* {
    margin-top: 0;
    /* margin-left: 4%; */
    /* margin-right: 4%; */
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    background-color: #F6F9FC;
}

body{
    position: relative;
}

header{
    margin: 15% 0;
}


/***********************************/

/* Reused */

/***********************************/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.Login-btn{
    /* position: absolute;
    left: 50%; */
    text-align: center;
    width:20%;
    text-decoration: none;
    /* margin-top: 25px; */
    margin: 25px auto;
    align-content: center;
    border-radius: 7px;
    border: 2px solid gray;
    padding: 10px;
}

.Login-btn a{
    font-size: 105%;
    font-weight: 400;
    color: gray;
    text-decoration: none;
    
    /* text-align: center;     */
}




/***********************************/

/* Title */

/***********************************/


h1{
    font-weight: 400;
    font-size: 240%;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(15, 127, 232, 0.849);
}



/***********************************/

/* Login Form */

/***********************************/

.selection{
    text-align: center;
    margin: 20px auto;
    /* margin-left: 20px */
}

.selection a{
    color: gray;
    margin:0 10px;
    text-decoration: none;
}

.Login-form{
    /* font-size: 120%; */
    width: 30%;
    margin: 0 auto;
}

.usernameInput{
    margin-bottom: 10px;
    vertical-align: middle;
}

input{
    width:100%;
    padding:7px;
    border-radius: 4px;
    border:1px dotted gray;
}


