<header>
    <h1>Knowledge</h1>
    <section class="Input">
        <link rel="stylesheet" href="../../public/css/LoginStyle.css">
        <div class="row selection">
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up </a>
        </div>
            <form action="/signup" method="post" class="Login-form">
                <div class="row usernameInput">
                    <div class="span2">
                        <label for="Username">Username</label>
                    </div>
                    <div class="span4 usernameform">
                        <input type="text" name="username" id="username" placeholder="Your Username" required>
                    </div>
                </div>
                <div class="row passwordInput">
                    <div class="span2">
                        <label for="password">Password</label>
                    </div>
                    <div class="span4 passwordform">
                        <input type="password" name="password" id="password" placeholder="Your Password" required>
                    </div>
                </div>
                <div class="row passwordInput">
                    <div class="span2 Conform">
                        <label for="password">Confirm Password</label>
                    </div>
                    <div class="span4 passwordform">
                        <input type="password" name="ConfirmPasswordInput" id="ConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="Signup-btn">
                    <input type="submit" value="Sign Up"></button>
                </div>
            </form>
        </div>


        {{#if error}}
        <div style="color:#ee0000;">
            <span>{{message}}</span>
        </div>
        {{/if}}
    </section>
</header>